<!--header가 호출된 뒤에 body가 실행되므로 js를 body 하단에 두어 화면이 다 그려진 뒤에 호출하도록 했다. -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--bootstrap.js는 jquery가 필요하므로 먼저 선언함-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--src/main/resources/static에서 시작함-->
<script src="/js/app/index.js"></script>
</body>
</html>